html::-webkit-scrollbar {
    display: none;
}

@media (width: 2000px) and (height: 1050px) {
    .success {
        background-color: #3bff69ae;
        border-radius: 3px;
        font-size: 1.5vh;
    }

    .primary {
        background-color: #67b1ff;
        border-radius: 3px;
        font-size: 1.5vh;
    }

    .error {
        background-color: #ff5365;
        border-radius: 3px;
        font-size: 1.5vh;
    }

    .police {
        background-color: #3facff;
        border-radius: 3px;
        font-size: 1.5vh;
    }

    .ambulance {
        background-color: #f44236;
        border-radius: 3px;
        font-size: 1.5vh;
    }

}


/* .template, .notification {
  display: none;
}

.notif-container {
  width: 20%;
  position: absolute;
  right: 15%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.notification {
  margin:6px;
  text-align:center;
  font: caption;
  padding:8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius:3px;
  font-weight:bold;
  font-size:12px;
  display:inline-block;
}


.success {
  background: rgba(54, 156, 80, 0.85);
  color: #fff;
}

.primary {
  background-color: rgba(51, 112, 165, 0.85);
  color: #ffffff;
}

.error {
  background-color: rgba(181, 82, 85, 0.85);
  color: #fff;
}

.police {
    background-color: #3facff;
    border-radius: 3px;
}

.ambulance {
    background-color: #f44236;
    border-radius: 3px;
} */

/* NOTIFY */

